@model Department
@{
    ViewData["Title"] = "Show";
}

<h1>@Model.Name Courses</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Courses.Count > 0)
            {
                foreach (Course crs in Model.Courses)
                {
                    <tr>
                        <td>@crs.Id</td>
                        <td>@crs.Name</td>
                        <th>
                            <a asp-action="Add" asp-controller="DepartmentCourse" asp-route-Id="@crs.Id" class="btn btn-primary">Add Degrees</a>
                            <a asp-action="Edit" asp-controller="DepartmentCourse" asp-route-Id="@crs.Id" class="btn btn-success ">Edit Degrees</a>
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Courses for this Department yet</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" asp-controller="Department" class="btn btn-warning">Back to List</a>
    <a asp-action="ManageCourses" asp-controller="DepartmentCourse" asp-route-Id="@dept.Id" class="btn btn-secondary">Manage Courses</a>
</div>